@font-face {
    font-family: 'Gotham';
    src: url('/static/fonts/Gotham/Gotham-Black.otf');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Gotham, sans-serif;
}


.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;;
    align-items: center;
    padding: 0 20px;
    z-index: 3;
}
.admin-login {
    background-color: rgb(46, 49, 146);
    border: 0px solid;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 600px;
    margin-top: 12px;
}

.admin-login:hover {
    background-color: rgb(28, 30, 94);
}

.logo {
    height: 60px !important; 
    width: auto !important; 
    margin-top: 20px;
    display: block; 
}

.logout-button {
    background-color: rgb(46, 49, 146);
    border: 0px solid;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 40px;
    margin-top: 10px;
}

.logout-button:hover {
    background-color: rgb(28, 30, 94);
}

.backgroundcontainer {
    position: relative;
    height: 100vh;
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(253, 185, 19, 0.2);
    z-index: 1;
}

.box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 250px;
    background-color: rgb(46, 49, 146,0.85);
    border-radius: 10px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radio-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 2px;
}

.radio-button label {
    font-size: 14px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.input-box {
    width: 60%;
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    margin-top: 5px;  
}

.input-box::placeholder {
    color: #888;
}

.pwd {
    width: 60%;
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    margin-top: 5px;
}

.pwd::placeholder {
    color: #888;
}

.login-button {
    height: 35px;
    width: 91px;
    border-radius: 20px;
    border: none;
    background-color: #41a444; 
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #336e35;
}
