{% extends "base.html" %}

{% block title %}Student Login{% endblock %}

{% block stylesheet %}{{ url_for('static', filename='css/login_s.css') }}{% endblock %}

{% block logout_button %}
    <button class="admin-login" onclick="redirectToAdminPage()">Login As Administrator</button>
    <button class="logout-button" onclick="redirectToStudentLogoutPage()">LOGOUT</button>

{% endblock %}

{% block content %}
    <div class="radio-button">
        <label><input type="radio" name="role" value="faculty" onclick="redirectToFacultyPage()"> Faculty</label>
        <label><input type="radio" name="role" value="student" checked> Student</label>
    </div>   
    <input type="text" id="usnInput" class="input-box" placeholder="Enter USN" required>
    <button id="login-button" class="login-button">LOGIN</button>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
